# General
.DS_Store
.idea/
.vscode/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
backend/venv/
backend/.env

# Flutter / Web
web/.dart_tool/
web/.packages
web/build/
web/pubspec.lock
web/ios/Flutter/Generated.xcconfig
web/ios/Flutter/app.flx
web/ios/Flutter/app.zip
web/android/app/libs/
web/android/key.properties

# Ansible / Infra
infra/*.retry

# InfluxDB / Data
data/influxdb-data/
data/influxdb-config/
